  
  <div class="m-md-1 mb-4 p-1 rounded-3">
    <div class="pt-5 row text-center justify-content-center">
      <div class="col-md-6">
        <h3 class="shadow p-3 mb-5 bg-body rounded">Ваш ребенок

          <% if @child.user.personal_data_policy_confirmed? %>
            <%= link_to icon('fa-solid', 'phone', class:"fa-sm mx-2", style: "color: #2f61b6;"), 
                edit_child_path(@child, anchor: "add-contact"), title: 'Добавить контакт' %>
          <% end %>

          <%= link_to icon('fa-solid', 'user-pen', class:"fa-sm mx-2", style: "color: #00b80c;"), 
              edit_child_path(@child), title: 'Редактировать' %>
          <%= link_to icon('fa-solid', 'user-slash', class:"fa-sm", style: "color: #d60000;"), child_path(@child),
              data: { turbo_method: :delete, turbo_confirm: 'Вы уверены, что хотите удалить личный кабинет ребенка?'}, 
              title: 'Удалить' %></h3>
        <div class="card mb-5">
          <div class="flex-shrink-0">
            <%= image_tag('childs.jpg', class: 'img-fluid') %>
          </div>
          <div class="card-body">
            <h5 class="card-title fs-3 text-secondary"><%= @child.full_name %>, <%= @child.age_to_s %></h5>
            <div class="d-flex align-content-center flex-wrap rounded-3 p-2 mb-2"
            style="background-color: <%= protection_color(@child_programs) %>;">
              <div class="px-3 p-2 flex-fill">
                <p class="small text-muted mb-1">Активности</p>
                <p class="mb-0"><%= @child_programs.size %></p>
              </div>
              <div class="px-3 p-2 flex-fill">
                <p class="small text-muted mb-1">Защищенность</p>
                <p class="mb-0"><%= child_protection(@child_programs) %> %</p>
              </div>
              <div class="px-3 p-2 flex-fill">
                <p class="small text-muted mb-1">Уровень</p>
                <p class="mb-0"><%= protection_raiting(@child_programs) %></p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
              aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
              style="width: <%= child_protection(@child_programs) %>%"></div>
            </div>
            <div class="d-flex pt-1">
              <%= link_to 'Шаблон паспорта безопасности', passport_child_path(@child, format: :pdf), 
                  class: 'btn btn-outline-info flex-grow-1' %>
            </div>

            <% if policy(@child).interactive_passport? %>
              <div class="d-flex pt-1">
                <%= link_to 'Интерактивный паспорт безопасности', interactive_passport_child_path(@child, format: :pdf), 
                      class: 'btn btn-outline-success flex-grow-1' %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="shadow p-3 mb-5 bg-body rounded">Персональный календарь</h3>
        <div class="mb-3">
          <%= render 'partials/telegram' %>
        </div>

        <%= month_calendar(events: @notices) do |date, notices| %>
          <div class='day'>
            <%= date.day %>
          </div>
          <div class="list-group">

            <% notices.each do |notice| %>
              <%= link_to notice.start_time.strftime('%H:%M'), child_program_path(notice), 
                    title: notice.training_program.title, 
                    class: "list-group-item p-0 list-group-item-action list-group-item-#{random_bootstrap_colors}" %>
            <% end %>

          </div>
        <% end %>

      </div>
    </div>
    <h3 class='shadow p-3 my-5 mx-auto w-auto bg-body rounded text-center'>Методики и другие активности</h3>
    <div class="row">

      <% @child_programs.order(:completed, :id).map do |program| %>
        <div class="col-md-6 p-2">

          <% if program.training_program.pdf.representable? %>

            <%= link_to child_program_path(program), class: 'list-group-item list-group-item-action link-light' do %>
              <div class="card p-2 bg-<%= background_color(program) %> rounded-3">
                <% image = program.training_program.pdf.representation(crop: [100, 300, 450, 250], 
                  format: :jpeg) %>
                <%= image_tag image, class: 'card-img-top' %>
                <div class='card-body'>
                  <h4 class='card-title text-center fw-bold'><%= program.training_program.title %>
                  </h4>
                </div>
              </div>
            <% end %>

          <% end %>

        </div>
      <% end %>

    </div>
  </div>
