<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5"><%= t('.title') %></h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
              html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "Имя", 
                      placeholder: 'Имя', id: "floatingInput", class: "form-control" %>
                  <%= f.label :first_name, for: "floatingInput" %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "Фамилия", 
                      placeholder: 'Фамилия', id: "floatingInput", class: "form-control" %>
                  <%= f.label :last_name, for: "floatingInput" %>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <p><%= f.label :birthday %></p>
              <%= f.date_select(:birthday, { 
                                start_year: Time.now.year - 15, 
                                end_year: Time.now.year, 
                                prompt: true, 
                                order: [:day, :month, :year] 
                                } ) %>
            </div>

            <div class="form-floating mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                  placeholder: 'Введите email', id: "floatingInput", class: "form-control" %>
              <%= f.label :email, for: "floatingInput" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
            <% end %>

            <div class="form-floating mb-3">              
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", 
                   id: "floatingPassword", placeholder: 'Пароль (6 знаков минимум)' %>
                   <%= f.label :password, for: "floatingPassword"%>  <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />                   
            </div>

            <div class="form-floating mb-3">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", 
                class: "form-control", id: "floatingPassword", 
                placeholder: 'Пароль (6 знаков минимум)' %>
              <%= f.label :password_confirmation, for: "floatingPassword" %>
            </div>

            <div class="form-floating mb-3">
              <%= f.password_field :current_password, class: "form-control", id: "floatingPassword", 
                  placeholder: 'Введите пароль' %>
              <%= f.label :current_password, for: "floatingPassword" %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
            </div>

            <div class='d-grid gap-2'>
              <%= f.submit t('.update'), class: 'btn btn-secondary btn-block mb-4' %>
            </div>
            <% end %>

            <h3><%= t('.cancel_my_account') %></h3>
            <p><%= t('.unhappy') %></p>
            <div class='d-grid gap-2'>
              <%= link_to t('.cancel_my_account'), registration_path(resource_name), 
                class: "btn btn-secondary btn-block mb-4", 
                data: { turbo_method: :delete, turbo_confirm: t('.are_you_sure')} %>
              <%= link_to "Назад", :back, class: "btn btn-primary btn-block mb-4"     %> 
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <%= image_tag('sign_up.jpg', class: 'img-fluid w-100 rounded-4 shadow-4') %>
      </div>
    </div>
  </div>
</section>
