<h1 class="h3 mb-2">Опубликована новая активность!</h1>
<h5 class="text-teal-700">«<%= @program.training_program.title %>»</h5>
<hr>
<div class="space-y-3">
  <p class="text-gray-700">
    Добрый день! В индивидуальный план безопасности вашего ребёнка добавлена новая тема для изучения.
  </p>
  <p class="text-gray-700">
    Ознакомиться с ней можно по ссылке:
  </p>
  <%= link_to 'Перейти к Активности', child_program_url(@program), 
         class: "btn btn-primary ax-center", target: "_blank" %>
  <p class="text-gray-700">
    Материал вы можете изучить прямо сейчас или
    <%= link_to "запланировать обучение на любой удобный день", edit_child_program_url(@program), target: "_blank" %>.
  </p>
  <p class="text-gray-700">
    Пусть ваш ребёнок всегда будет в безопасности!
  </p>
  <p class="text-gray-700 mt-3">
    Активность создана <b class="text-red-500"><%= @program.training_program.created_at.strftime("%d-%m-%Y") %></b>
  </p>
  <p class="text-gray-700">
    <%= link_to 'Личный кабинет', child_url(@program.child), target: "_blank" %>
    Вашего ребёнка <b class='text-teal-700'><%= @program.child.full_name %></b>.
  </p>
</div>
