<h1 class="h3 mb-2">Сегодня запланировано изучение новой темы!</h1>
<h5 class="text-teal-700">«<%= @program.training_program.title %>»</h5>
<hr>
<div class="space-y-3">
  <p class="text-gray-700">
    Добрый день! Напоминаем, что сегодня, в <b class="text-red-500">
      <%= @program.notice_time.strftime('%H:%M') %></b>, Вы планировали изучить одну из тем детской безопасности на
    нашем сайте.
  </p>
  <p class="text-gray-700">Установить напоминание на другой день можно по ссылке:</p>
  <%= link_to 'Перейти к Активности', child_program_url(@program), 
         class: "btn btn-primary ax-center", target: "_blank" %>
  <p class="text-gray-700">
    Также вы можете ознакомиться с полным списком тем для изучения и добавить их в свой индивидуальный план.
  </p>
  <p class="text-gray-700">
    Пусть ваш ребёнок будет в безопасности!
  </p>
  <p class="text-gray-700 mt-3">
    <%= link_to 'Личный кабинет', child_url(@program.child), target: "_blank" %>
    Вашего ребёнка <b class='text-teal-700'><%= @program.child.full_name %></b>.
  </p>
</div>
