<%= form_for user_program, data: {turbo: false} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: user_program} %>

  <div class="form-group">
    <%= f.label 'Напомнить' %>
    <p><%= f.datetime_select :notice_time, class: 'form-control' %></p>
  </div>


  <div class="actions mb-3">
    <%= f.submit 'Установить напоминание', class: 'btn btn-info' %>
  </div>
<% end %>
